.row {
    margin-left: 0;
    margin-right: 0;
}
.button-wrapper {
    display: flex;
    align-items: flex-end;
    margin-top: 5px;
}
.form-wrapper {
    margin-top: 10px;
}
.name-wrapper {
    padding: 0;
}
h4 {
    text-align: center;
    color: #007bff;
}
.sort-form label {
    margin-right: 10px;
    color: #fff;
}
.arrow {
    color: #fff;
    font-size: 1rem;
    margin-left: 5px;
    cursor: pointer;
  }
.sort-control {
    display: flex;
    align-items: baseline;
}
.github-icon {
    display: flex;
    align-items: flex-end;

}
.github-icon img {
    width: 20px;
}
.github-icon div {
    margin-right: 10px;
}
.footer {
    min-height: 100px;
}
.list {
    min-height: 30vh;
}