<nav class="navbar navbar-dark bg-primary">
  <span class="navbar-brand mb-0 h1"> Notes </span>
</nav>


<div class="container">

  <div class="form-wrapper">
    <div class="form-group row">
      <label for="FormControlName" class="col-md-2 col-form-label">Task name:</label>
      <input type="text" class="form-control col-md-3 form-control-sm" id="FormControlName" placeholder="Task name" [(ngModel)] = "newTaskName">
      <label for="FormControlDeadline" class="col-md-2 col-form-label col-sm-2">Deadline:</label>
      <input type="date" class="form-control col-md-3 form-control-sm" id="FormControlDeadline" [(ngModel)] = "newTaskDeadline" >
    </div> 
    
      
    
    <div class="form-group row">
      <label for="FormControlStatus" class="col-md-2 col-form-label">Task status:</label>
      <select class="form-control col-md-3 form-control-sm" id="FormControlStatus" [(ngModel)] = "newTaskStatus">
        <option>for execution</option>
        <option>in work</option>
        <option>done</option>
      </select>
      <label for="FormControlPriority" class="col-md-2 col-form-label">Task priority:</label>
      <select class="form-control col-md-3 form-control-sm" id="FormControlPriority" [(ngModel)] = "newTaskPriority">
        <option>low</option>
        <option>medium</option>
        <option>high</option>
      </select>
    </div>
    <div class="form-group row">
      <label for="FormControlDescr" class="col-md-2 col-form-label">Description:</label>
      <textarea class="form-control form-control-sm col-md-8" id="FormControlDescr" rows="2" [(ngModel)] = "newTaskDescr" ></textarea>
      <div class="col-md-2 button-wrapper">
        <button class="btn btn-primary" (click)="addTask()">ADD Task</button>
      </div>
    </div>
  </div>  
    
  <hr>
  <app-task
    *ngFor="let t of tasks; let index = index"
    [task]="t"
    (onDelete)="deleteTask(index)"
  ></app-task>
</div>
