<nav class="navbar navbar-dark bg-primary">
  <span class="navbar-brand mb-0 h1"> Notes </span>
  <div class="form-inline sort-form">
    <label>Sort by: </label>
    <div class="sort-control">
      <select class="form-control mr-sm-2" [(ngModel)]="sortBy" (change)="updateTasks()">
        <option value="deadline">deadline</option>
        <option value="priority">priority</option>
      </select>
      <div (click)="asc=!asc; updateTasks()">
        <span *ngIf="!asc" class="arrow">&#9660;</span>
        <span *ngIf="asc" class="arrow">&#9650;</span>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <form [formGroup]="form" class="form-wrapper" (ngSubmit)="addTask()">
    <div class="form-group row">
      <label for="FormControlName" class="col-md-2 col-form-label">Task name:</label>
      <div  class="col-md-3 name-wrapper">
        <input type="text" class="form-control  form-control-sm" id="FormControlName" placeholder="Task name"  formControlName="name">
        <div  *ngIf="form.get('name').invalid && form.get('name').touched" class="validation"><small>Please enter task name</small></div>
      </div>
      <label for="FormControlDeadline" class="col-md-2 col-form-label col-sm-2">Deadline:</label>
      <input type="date" class="form-control col-md-3 form-control-sm" id="FormControlDeadline"  formControlName="deadline">
    </div> 
    <div class="form-group row">
      <label for="FormControlStatus" class="col-md-2 col-form-label">Task status:</label>
      <select class="form-control col-md-3 form-control-sm" id="FormControlStatus"  formControlName="status">
        <option>todo</option>
        <option>doing</option>
        <option>done</option>
      </select>
      <label for="FormControlPriority" class="col-md-2 col-form-label">Task priority:</label>
      <select class="form-control col-md-3 form-control-sm" id="FormControlPriority"  formControlName="priority">
        <option>low</option>
        <option>medium</option>
        <option>high</option>
      </select>
    </div>
    <div class="form-group row">
      <label for="FormControlDescr" class="col-md-2 col-form-label">Description:</label>
      <textarea class="form-control form-control-sm col-md-8" id="FormControlDescr" rows="2"  formControlName="descr"></textarea>
      <div class="col-md-2 button-wrapper">
        <button class="btn btn-primary" type="submit" [disabled]="form.invalid" >ADD Task</button>
      </div>
    </div>
  </form>  
  <hr>
  <div class="row list" cdkDropListGroup>
    <div class="col-md-4" cdkDropList
    [cdkDropListData]="todoTasks" (cdkDropListDropped)="drop($event)">
      <h4>TODO</h4>
      <app-task
      [id]="t.id"
      *ngFor="let t of todoTasks"
      [task]="t"
      (onDelete)="deleteTask(t)"
      (onChange)=onChange($event,t)
      cdkDrag
    ></app-task>  
    </div>
    <div class="col-md-4 list" cdkDropList
    [cdkDropListData]="doingTasks" (cdkDropListDropped)="drop($event)">
      <h4>DOING</h4>
      <app-task
      [id]="t.id"
      *ngFor="let t of doingTasks"
      [task]="t"
      (onDelete)="deleteTask(t)"
      (onChange)=onChange($event,t)
      cdkDrag
    ></app-task>
    </div>
    <div class="col-md-4 list" cdkDropList
    [cdkDropListData]="doneTasks" (cdkDropListDropped)="drop($event)">
      <h4>DONE</h4>
      <app-task
      [id]="t.id"
      *ngFor="let t of doneTasks"
      [task]="t"
      (onDelete)="deleteTask(t)"
      (onChange)=onChange($event,t)
      cdkDrag
      ></app-task>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <hr>
    <p>Kathreen Fenchenko</p>
    <div class="github-icon">
      <div><img src="./../assets/icons/icons8-github.svg" alt="github"></div> 
      <div><a href="https://github.com/kathleen-fen/todo-list-angular" target="_blank">GitHub Link</a> </div></div>
  </div>
</footer>
